<div class="container">
    <div class="row">
        <div class="col left">
            <div class="leftside-text ">
                <ul class="list-style">
                    <li class="li-style ">
                        <mat-icon class="icon">home</mat-icon><span class="icon-text">Home</span>
                    </li>
                    <li class="li-style1 ">

                        <mat-icon class="icon">pan_tool</mat-icon>
                        <span class="icon-text">For you </span>

                    </li>
                    <li class="li-style ">
                        <mat-icon class="icon">add_box</mat-icon><span class="icon-text">Products</span>
                    </li>
                    <li class="li-style ">
                        <mat-icon class="icon">explore</mat-icon><span class="icon-text">Explore</span>
                    </li>
                    <li class="li-style ">
                        <mat-icon class="icon">favorite</mat-icon><span class="icon-text">Favorites</span>
                    </li>
                    <li class="li-style ">
                        <mat-icon class="icon">collections</mat-icon><span class="icon-text">Collection</span>
                    </li>
                    <li class="li-style ">
                        <mat-icon class="icon">account_circle</mat-icon><span class="icon-text">Accounts</span>
                    </li>
                </ul>
            </div>
        </div>
        <div style="height:100%">
            <div class="topdiv">
                <div class="row">
                    <div id="carouselExampleCaptions" class="carousel slide vertical" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active item">
                                <img src="./../../../assets/imgs/slider4.jpg " class="d-block w-100 image-style"
                                    alt="...">

                            </div>
                            <div class="carousel-item item">
                                <img src="./../../../assets/imgs/slider2.jpg" class="d-block w-100 image-style"
                                    alt="...">

                            </div>
                            <div class="carousel-item item">
                                <img src="./../../../assets/imgs/slider3.jpg" class="d-block w-100 image-style"
                                    alt="...">

                            </div>
                        </div>

                        <a class="carousel-control left" href="#myCarousel" data-slide="prev"> </a>
                        <a class="carousel-control right" href="#myCarousel" data-slide="next"></a>
                    </div>
                </div>
                <div class="col col3">
                    <div class="intro-left">
                        <div class="container-fluid full-height">
                            <div class="row full-height">
                                <div class="col">
                                    <img src="./../../../assets/imgs/director.jpg" alt="User avatar" class="avatar" />
                                    <div class="name-text">
                                        <p class="name">Verniya</p>
                                        <p class="min-ago">2 min ago</p>
                                    </div>

                                </div>


                            </div>
                            <div class="row comment-section ">
                                <p>Detail caption goes here with lot of #hashtags #add #more #tage</p>
                                <p class="comment-count"> View comments(5)</p>
                            </div>
                            <div class="row comment-input">
                                <input type="text" class="input-text" placeholder="Add Comment">
                                <button class="addButtons">
                                    <b>Add</b>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="bottomdiv">
                <div class="row image-row">
                    <div class="col image-column">
                        <div class="card">
                            <img class="img-size" src="./../../../assets/imgs/img3.png" alt="Card image">
                        </div>
                    </div>

                    <div class="col image-column">
                        <div class="card">
                            <img class="img-size" src="./../../../assets/imgs/img1.jpg" alt="Card image">
                        </div>
                    </div>

                    <div class="col image-column">
                        <div class="card">
                            <img class="img-size" src="./../../../assets/imgs/img2.png" alt="Card image">
                        </div>
                    </div>

                    <div class="col image-column">
                        <div class="card">
                            <img class="img-size" src="./../../../assets/imgs/img4.png" alt="Card image">
                        </div>
                    </div>
                    <div class="col image-column">
                        <div class="card">
                            <img class="img-size" src="./../../../assets/imgs/img5.png" alt="Card image">
                        </div>
                    </div>
                </div>
                <div  class="row image-row">
                    <div class="col image-column">
                        <div class="card">
                            <img class="img-size" src="./../../../assets/imgs/img6.png" alt="Card image">
                        </div>
                    </div>

                    <div class="col image-column">
                        <div class="card">
                            <img class="img-size" src="./../../../assets/imgs/img7.jpg" alt="Card image">
                        </div>
                    </div>

                    <div class=" col image-column">
                        <div class="card">
                            <img class="img-size" src="./../../../assets/imgs/img8.png" alt="Card image">
                        </div>
                    </div>

                    <div class=" col image-column">
                        <div class="card">
                            <img class="img-size" src="./../../../assets/imgs/img9.png" alt="Card image">
                        </div>
                    </div>
                    <div class="col image-column">
                        <div class="card">
                            <img class="img-size" src="./../../../assets/imgs/img10.png" alt="Card image">
                        </div>
                    </div>
                </div>

               

            </div>
        </div>
    </div>


</div>